.main {
    margin-top: 100px;
}

.main-title {
    font-size: 70px;
}

.main-subtitle {
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
}

.main-images {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-images img {
    width: 25%;
    height: 110%;
}